<div class="page-container">
  <h2>Criar Treino</h2>
  <p>Preenche os dados para adicionar um novo treino.</p>

  <form [formGroup]="form">

    <label for="data">Data</label>
    <input id="data" formControlName="data" type="date" />

    @if (form.get('data')?.invalid && form.get('data')?.touched) {
      <p class="erro">A data é obrigatória</p>
    }

    <label for="tipo">Tipo de treino</label>
    <select id="tipo" formControlName="tipo" (change)="onTipoChange()">
      <option value="">Escolher tipo</option>
      @for (t of tipos; track t) {
        <option [value]="t.nome">{{ t.nome }}</option>
      }
    </select>

    <label for="exercicio">Exercício</label>
    <select
      id="exercicio"
      [(ngModel)]="exercicioSelecionado"
      [ngModelOptions]="{ standalone: true }"
      (change)="onExercicioChange()"
      [disabled]="!form.get('tipo')?.value"
    >
      <option value="">Escolher exercício</option>

      @for (t of tipos; track t) {
        @if (t.nome === form.get('tipo')?.value) {
          @for (e of t.exercicios; track e) {
            <option [value]="e">{{ e }}</option>
          }
        }
      }
    </select>

    @if (exercicioSelecionado) {
      <h3>Detalhes do Exercício</h3>

      <label>Peso:</label>
      <input type="number" [(ngModel)]="carga" [ngModelOptions]="{ standalone: true }" />

      <label>Repetições:</label>
      <input type="number" [(ngModel)]="repeticoes" [ngModelOptions]="{ standalone: true }" />
    }

    <button type="button" (click)="criar()" [disabled]="!form.valid || !exercicioSelecionado">
      Inserir
    </button>

  </form>

  <h2>Treinos Criados</h2>

  <section>
    @for (t of treinos; track t.id) {
      <div class="card">
        <header>
          <h3>{{ t.nome }}</h3>
        </header>

        <p><strong>Tipo:</strong> {{ t.tipo }}</p>
        <p><strong>Data:</strong> {{ t.data }}</p>

        <footer>
          <button [routerLink]="['/treinos/editar', t.id]">Editar</button>
          <button (click)="treinosStore.deleteTreino(t.id)">Apagar</button>
        </footer>
      </div>
    }
  </section>
</div>
