section {
  margin-top: 60px;
  padding-bottom: 40px;
}
.conteudo {
  margin-top: 80px; /* empurra todas as páginas para baixo */
  padding-bottom: 10px; /* opcional: espaço antes do footer */
}
body {
  background: #0d0d0d;
  color: #e6e6e6;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #ffffff;
  margin-bottom: 10px;
}
